# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Build
dist/
build/

# Env & secrets
.env
.env.*
!.env.example

# Editors/OS
.DS_Store
*.swp
.idea/
.vscode/

# Docker volumes
data/
caddy-data/
caddy-config/
mongo-data/
